$primary-color: #008b97 !default;

$dark-color: #2e4954 !default;
$light-color: #fff !default;

$bg-color: #efece7 !default;

$success-color: #7ed321 !default;
$warning-color: #f5a623 !default;
$error-color: #b64154 !default;
